/*
  Import this file to import a customized bootstrap
*/

// importing font
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
$font-family-sans-serif: 'Roboto', sans-serif !default;
$font-family-serif:      'Roboto', serif !default;
$font-family-monospace:  'Roboto', monospace !default;
$font-family-base:       $font-family-sans-serif !default;

// required to get $orange variable
@import "bootstrap/functions";
@import "bootstrap/variables";

$primary: #c670c1; // set the $primary variable
$secondary: #e0e0e0; // set the $secondary variable

// merge with existing $theme-colors map
$theme-colors: map-merge($theme-colors, (
  "primary": $primary,
  "secondary": $secondary
));

@import 'bootstrap/bootstrap';
