@import 'custom.scss';

.img-col {
	@extend .col-7;
	@extend .offset-1;
	img {
		@extend .img-fluid;
	}
}

.point {
	cursor: pointer;
}

.alert-green-center {
	@extend .m-2;
	@extend .alert;
	@extend .alert-success;
	@extend .text-center;
}


[id^=post-] {
	img:not(.liked, .card-img) {
		filter: sepia(100%);
	}
	.comment-section {
		@extend .pt-3;
		div {
			@extend .mt-3;
			@extend .mb-2;
		}
	}
}

.alert-red-center {
	@extend .m-2;
	@extend .alert;
	@extend .alert-danger;
	@extend .text-center;
}

@keyframes rotate-animation {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
img.turn {
	animation-name: rotate-animation;
	animation-duration: 1.3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

label {
	@extend .form-label;
	@extend .my-2;
}

[id^=img-] {
	@extend .point;
	@extend .rounded;
	&:hover {
		@extend .shadow;
	}
}

input {
	@extend .form-control;
}

textarea.write-comment {
	width: 100%;
	@extend .form-control;
}

button {
	@extend .btn;
	@extend .btn-primary;
	@extend .rounded;
}

.invert-img {
	transform: scaleY(-1);
}

#images-list {
	@extend .d-flex;
	@extend .gap-3;
	@extend .justify-content-start;
	@extend .align-items-center;
	@extend .flex-column;
}

#thumbnail-list {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 20px 20px;
}

.selected {
	@extend .shadow;
	border: 3px solid $primary;
	background-color: #ddd;
}

form > button {
	@extend button;
	@extend .w-100;
	@extend .mt-4;
}

#box {
	border-radius: 30px;
	#title {
		@extend .text-center;
		@extend .my-2;
	}
}

a {
	@extend .link-primary;
	@extend .ms-3;
	@extend .me-3;
}

.submit-comment {
	opacity: 1;
	position: static;
	display: flex;
	justify-content: space-between;
	transition: opacity .5s ease;
}
.submit-comment-invisible {
	opacity: 0;
	position: fixed;
}


.like-container {
	display: flex;
	gap: 15px;
	align-items: center;
	color: $primary;
	cursor: pointer;
	font-size: 20px;
	padding: 0px 0px 2px 0px;
	border-bottom: 4px solid #00000000;
	transition: border-bottom .2s ease;
}

.like-container:hover {
	border-bottom: 4px solid $primary;
}



// for tooltip in editor
.tooltip-container {
	position: relative;
	display: inline-block;
	cursor: pointer;
}
.tooltip-text {
	visibility: hidden;
	opacity: 0;
	width: 220px;
	background-color: black;
	color: white;
	text-align: center;
	padding: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 120%;
	/* Position above the icon */
	left: 50%;
	transform: translateX(-50%);
	transition: opacity 0.3s;
	font-size: 14px;
	z-index: 1000;
}
.tooltip-container:hover .tooltip-text,
.tooltip-container.active .tooltip-text {
	visibility: visible;
	opacity: 1;
}
